if theme.leancloud.enable
  script(src='https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js')
  script.
    // AV.init(theme.leancloud.app_id, theme.leancloud.app_key);
    // - var spans = document.getElementsByClassName('leancloud_visitor')
    alert('yuti')
    
  
